:root {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

* {
    font-family: verdana, sans-serif;
    color: #ababab;
}

html, body {
    margin: 0;
    padding: 0;
}

textarea {
    margin: 4px;
    background-color: #1e1e1e;
    border: none;
    border-radius: 8px;
    padding: 12px;
}

textarea:focus {
    outline:none;
    background-color: #242424;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 4px;
    height: calc(100vh - 8px);
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.left, .right {
    resize: none;
    flex:1;
}

.copy_button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px;
    border: 2px solid #606060;
    border-radius: 4px;
    background-color: transparent;
}

.copy_button:hover {
    border: 2px solid #808080;
}

.copy_icon {
    fill: #606060;
}

.copy_button:hover .copy_icon {
    fill: #808080;
}
